body {
    background-color: rgb(234, 207, 73);
    font-size: large;
    text-align: center;
    margin: 0;
}

p {
    margin: 30px;
    padding: 5px;
}

h1 {
    background-color: rgb(39, 21, 98);
    color: rgba(250, 235, 215, 0.897);
    margin: 0;
    padding: 10px;
}

